body {
      font: 16px Sans-Serif;
      padding: 20px;
     }
     
     header {
      background: #42A5F5;
      color: white;
      padding: 20px;
      position: relative;
     }
     
     header h1 {
      margin: 0;
     }
     
     nav {
      background: #eee;
    padding: 20px;
     }
     
     nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
     }
     
     nav li {
      display: inline-block;
      margin-right: 20px;
     }
     
     nav a {
      text-decoration: none;
      color: #000;
      transition: transform 0.3s ease-in-out;
     }
     
     nav a:hover,
     nav a:focus {
      transform: translateY(-5px);
      color: #42A5F5;
     }
     
     main {
      padding: 20px;
     }
     
     img {
      max-width: 100%;
      height: auto;
     }
     
     aside {
      background: #eee;
      padding: 20px;
     }
     
     footer {
      background: #42A5F5;
      color: white;
      line-height: 50px;
      padding: 0 20px;
      margin-top: 20px;
     }
     /* Media Query Styles */
 @media screen and (max-width: 768px) {
  header {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 100;
  }
 
  nav li {
   display: block;
   margin: 10px 0;
  }
 
  main {
   padding: 0;
  }
 
  aside {
   display: none;
  }
 
  img {
  max-width: 100%;
   height: auto;
  }
 }